<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>WEBT</title>
</head>
<body>

<div class="bar w3-row">
    <div>
        <div class="w3-col m2">
            <h1>BMI</h1>
        </div>
        <div class="w3-col m10">
            <nav>
                <a href="#usage">Anwendungsbeschreibung</a>
                <a href="#input">Eingabebereich</a>
                <a href="#output">Ausgabebereich</a>
            </nav>
        </div>
    </div>
</div>

<div id="app">
    <h2 id="usage">Anwendungsbeschreibung</h2>
    <div class="w3-row-padding w3-stretch">
        <div class="w3-col m6">
            <p>Der BMI steht für Body Mass Index, zu Deutsch "Körpermasseindex". Es ist eine Kennzahl, die das
                Verhältnis zwischen Körpergewicht und Körpergröße eines Menschen misst. Der BMI wird oft verwendet, um
                grob einzuschätzen, ob eine Person untergewichtig, normalgewichtig, übergewichtig oder adipös
                (fettleibig) ist.</p>
            <p>Anwendungsbeschreibung...</p>
        </div>
        <div class="w3-col m6">
            <img src="img/bmi.jpeg" alt="bmi">
        </div>
    </div>

    <hr>

    <h2 id="input">Eingabebereich</h2>
    <form v-on:submit.prevent="submit">
        <div class="w3-row-padding w3-stretch">
            <div class="w3-col l6 w3-margin-bottom">
                <div class="w3-row-padding w3-stretch">
                    <div class="w3-col s12 w3-margin-bottom">
                        <label for="name">Vollständiger Name</label><br>
                        <input id="name" type="text" v-model="form.name" @input="validate('name')" required/>
                        <p v-if="validations['name']" class="validation">{{ validations['name'] }}</p>
                    </div>
                    <div class="w3-col s6">
                        <label>Geburtstag</label><br>
                        <input type="date" v-bind:max="constant.today" v-model="form.birthday"
                               @input="validate('birthday')"
                               required/>
                        <p v-if="validations['birthday']" class="validation">{{ validations['birthday'] }}</p>
                    </div>
                    <div class="w3-col s6">
                        <label>Geschlecht</label><br>
                        <select v-model="form.gender" required>
                            <option v-bind:value="constant.gender.male" selected>{{ constant.genders[0] }}</option>
                            <option v-bind:value="constant.gender.female">{{ constant.genders[1] }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="w3-col l6 w3-margin-bottom">
                <div class="w3-row-padding w3-stretch w3-margin-bottom">
                    <div class="w3-col s8">
                        <label for="height-cm">Grösse</label><br>
                        <input id="height-cm" type="number" step=".1" min="0" v-bind:max="constant.max.height"
                               v-model="form.height.value"
                               @input="validate('height')" required/>
                        <p v-if="validations['height']" class="validation">{{ validations['height'] }}</p>
                    </div>
                    <div class="w3-col s4"><br>
                        <select v-model="form.height.unit">
                            <option v-bind:value="constant.unit.height.cm" selected>Zentimeter</option>
                            <option v-bind:value="constant.unit.height.ft">Feet</option>
                        </select>
                    </div>
                </div>
                <div class="w3-row-padding w3-stretch">
                    <div class="w3-col s8">
                        <label for="weight-kg">Gewicht</label><br>
                        <input id="weight-kg" type="number" step=".1" min="0" v-bind:max="constant.max.weight"
                               v-model="form.weight.value"
                               @input="validate('weight')">
                        <p v-if="validations['weight']" class="validation">{{ validations['weight'] }}</p>
                    </div>
                    <div class="w3-col s4"><br>
                        <select v-model="form.weight.unit">
                            <option v-bind:value="constant.unit.weight.kg" selected>Kilogramm</option>
                            <option v-bind:value="constant.unit.weight.lbs">Pounds</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button v-bind:disabled="this.hasValidations()">
            BMI jetzt berechnen!
        </button>
    </form>

    <hr>

    <h2 id="output">Ausgabebereich</h2>
    <div class="w3-row-padding w3-stretch">
        <div class="w3-col m6">
            <p v-if="bmi">BMI = <b>{{ bmi }} kg/m<sup>2</sup></b></p>
            <p v-else>Warte auf Eingabe für BMI Berechnung...</p>
        </div>
        <div class="w3-col m6">
            <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
            </canvas>
        </div>
    </div>
    <h3>History ({{ history.length }})</h3>
    <table>
        <tbody>
        <tr>
            <th class="hide-mobile">Id</th>
            <th>Name</th>
            <th class="hide-mobile">Geburtsdatum</th>
            <th class="hide-mobile">Geschlecht</th>
            <th>Grösse</th>
            <th>Gewicht</th>
            <th>BMI</th>
        </tr>
        <tr v-for="item in history" :key="item.id">
            <td class="hide-mobile">{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td class="hide-mobile">{{ item.birthday }}</td>
            <td class="hide-mobile">{{ constant.genders[item.gender] }}</td>
            <td>{{ item.height }} cm</td>
            <td>{{ item.weight }} kg</td>
            <td v-bind:style="getBMIColor(item.bmi)"><b>{{ item.bmi }}</b></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="bar">
    <div>
        HS2024 - WEBT by Alan Cantekin
    </div>
</div>

<!--js code-->
<!--<script type="module" src="js/constants.js"></script>-->
<script src="js/vue.js"></script>

</body>
</html>