<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>WEBT</title>
</head>
<body>

<div id="app">
    <h1>BMI Rechner</h1>

    <h2>Anwendungsbeschreibung</h2>
    <div class="w3-row-padding w3-stretch">
        <div class="w3-col m12 l6">
            <p>TBD</p>
        </div>
        <div class="w3-col m12 l6">
            <p>TBD</p>
        </div>
    </div>

    <hr>

    <h2>Eingabebereich</h2>
    <div class="w3-row-padding w3-stretch">
        <div class="w3-col m12 l6">
            <h3>Personalien</h3>
            <label for="name">Vollständiger Name</label><br>
            <input id="name" type="text" v-model="form.name" @input="validate('name')" required/>
            <p v-if="validations['name']" class="validation">{{ validations['name'] }}</p>

            <div class="w3-row w3-margin-top">
                <div class="w3-col s6">
                    <label>Geburtstag</label><br>
                    <input type="date" v-model="form.birthday" @input="validate('birthday')" required/>
                    <p v-if="validations['birthday']" class="validation">{{ validations['birthday'] }}</p>
                </div>
                <div class="w3-col s6">
                    <label>Geschlecht</label><br>
                    <input id="male" name="gender" type="radio" value="0" v-model="form.gender"
                           @input="validate('gender')" required/>
                    <label for="male">Männlich</label><br>
                    <input id="female" name="gender" type="radio" value="1" v-model="form.gender"
                           @input="validate('gender')" required/>
                    <label for="female">Weiblich</label>
                    <p v-if="validations['gender']" class="validation">{{ validations['gender'] }}</p>
                </div>
            </div>
        </div>
        <div class="w3-col s6 l3">
            <h3>Grösse</h3>
            <div>
                <label for="height-cm">Zentimeter</label><br>
                <input id="height-cm" type="number" min="0" v-bind:max="max.height" v-model="form.height"
                       @input="validate('height')" required/>
                <p v-if="validations['height']" class="validation">{{ validations['height'] }}</p>
            </div>
            <div class="w3-margin-top">
                <label>Foot</label>
                <p>{{ foot }}</p>
            </div>
        </div>
        <div class="w3-col s6 l3">
            <h3>Gewicht</h3>
            <div>
                <label for="weight-kg">Kilogramm</label><br>
                <input id="weight-kg" type="number" min="0" v-bind:max="max.weight" v-model="form.weight"
                       @input="validate('weight')">
                <p v-if="validations['weight']" class="validation">{{ validations['weight'] }}</p>
            </div>
            <div class="w3-margin-top">
                <label>Pound</label>
                <p>{{ pound }}</p>
            </div>
        </div>
    </div>
    <button class="w3-btn w3-text-black w3-border w3-border-black w3-round-large w3-hover-green" @click="submit()">
        BMI jetzt berechnen!
    </button>

    <hr>

    <h2>Ausgabebereich</h2>
    <p v-if="bmi">BMI = {{ bmi }} kg/m<sup>2</sup> ({{ this.conclusion }})</p>
    <p v-else>Warte auf Eingabe für BMI Berechnung...</p>
</div>

<!--vue js code-->
<script src="js/vue.js"></script>

</body>
</html>